<h2>Work Details</h2>
<hr />
<form #ref="ngForm" (ngSubmit)="editProfile(ref)">
  <div class="form-group row">
    <label for="position" class="col col-form-label">Position</label>
    <div class="col-sm-10">
      <input
        type="text"
        name="position"
        id="position"
        class="form-control col"
        ngModel
        #position="ngModel"
        required
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="company" class="col col-form-label">Company</label>
    <div class="col-sm-10">
      <input
        type="text"
        name="company"
        id="company"
        class="form-control col"
        ngModel
        #company="ngModel"
        required
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="branch" class="col col-form-label">Company branch</label>
    <div class="col-sm-10">
      <input
        type="text"
        name="branch"
        id="branch"
        class="form-control col"
        ngModel
        #branch="ngModel"
        required
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="join" class="col col-form-label">Joined year</label>
    <div class="col-sm-10">
      <input
        type="text"
        name="join"
        id="join"
        class="form-control col"
        ngModel
        #join="ngModel"
        required
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="left" class="col col-form-label">Left year</label>
    <div class="col-sm-10">
      <input
        type="text"
        name="left"
        id="left"
        class="form-control col"
        ngModel
        #left="ngModel"
        required
        value="Present"
        placeholder="Present"
      />
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="
      position.errors?.required ||
      company.errors?.required ||
      branch.errors?.required ||
      join.errors?.required ||
      left.errors?.required
    "
  >
    Add new work details
  </button>
</form>
