.card {
  width: 30%;
  margin: 1rem;
  background-color: #4d80e4;
  color: #4d80e4;
}
#content {
  text-align: center;
  /* border: 1px solid green; */
  /* padding-left: ; */
}
.modal {
  color: #4d80e4;
}
