<div id="content">
  <div class="card mx-auto">
    <form #ref="ngForm" (ngSubmit)="doLogin(ref)">
      <div class="card-body">
        <h1 class="card-title text-center">Login</h1>
        <div class="card-subtitle mb-2">
          <h5>Choose role</h5>
          <div class="form-check">
            <input
              type="radio"
              name="role"
              id="adm"
              class="form-check-input"
              value="admin"
              #r="ngModel"
              ngModel
              required
            />
            <label for="adm" class="form-check-label">Directorate</label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              name="role"
              id="usr"
              class="form-check-input"
              value="user"
              ngModel
              required
            />
            <label for="usr" class="form-check-label">User</label>
          </div>
          <div *ngIf="r.invalid && ref.submitted" class="alert alert-danger">
            *Role selection is required
          </div>
        </div>
        <div class="card-text">
          <!-- username -->
          <div class="form-group" ng-class="{ 'not-empty': username.length }">
            <label for="un" class="animated-label">Username</label>
            <input
              type="text"
              name="username"
              id="un"
              ngModel
              ng-model="username"
              class="form-control"
              required
            />
          </div>

          <!-- password -->
          <div class="form-group" ng-class="{ 'not-empty': password.length }">
            <label for="pw" class="animated-label">Password</label>
            <input
              type="password"
              name="password"
              id="pw"
              ng-model="password"
              ngModel
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="card-text">
          <div class="text-center">
            <input
              type="submit"
              value="Login"
              id="login-btn"
              class="btn btn-primary"
              [disabled]="ref.invalid"
            />
          </div>
          <div id="signup">
            <a routerLink="register">
              Don't have an account?Signup here!
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
