<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" routerLink="posts">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="messages">Messages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="notifications"
      >Notifications
      <span class="badge badge-light" *ngIf="ps.isNotificationOn">{{
        userObj.notification
      }}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="profile">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="editprofile">Edit Profile</a>
  </li>
</ul>
<p>HELLO,{{ username }}</p>
<div>
  <router-outlet></router-outlet>
</div>
