<div class="container-fluid">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">WebPage</a>

    <!-- Toggler/collapsibe Button  -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item" *ngIf="!ls.isLoggedIn">
          <a class="nav-link" routerLink="login">Login/Signup</a>
        </li>
        <li class="nav-item" *ngIf="ls.isLoggedIn && !ls.isAdmin">
          <a class="nav-link" routerLink="alumni/dashboard">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="ls.isLoggedIn && ls.isAdmin">
          <a class="nav-link" routerLink="directorate/adminpage">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="ls.isLoggedIn">
          <a class="nav-link" routerLink="login">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
