<h2>Education</h2>
<hr />
<form #ref="ngForm" (ngSubmit)="editProfile(ref)">
  <div class="form-group row">
    <label for="degree" class="col col-sm-2 col-form-label"
      >Education course</label
    >
    <div class="col-sm-10">
      <input
        type="text"
        name="degree"
        id="degree"
        class="form-control col"
        ngModel
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="joining" class="col col-sm-2 col-form-label"
      >Joining Year:</label
    >
    <div class="col-sm-10">
      <input
        type="number"
        name="joining"
        id="joining"
        class="form-control col"
        ngModel
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="passing" class="col col-sm-2 col-form-label"
      >Passing Year:</label
    >
    <div class="col-sm-10">
      <input
        type="number"
        name="passing"
        id="passing"
        class="form-control col"
        ngModel
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="place" class="col col-sm-2 col-form-label">University</label>
    <div class="col-sm-10">
      <input
        type="text"
        name="place"
        id="place"
        class="form-control col"
        ngModel
      />
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Edit</button>
</form>
