<div class="row">
  <div class="col-lg-4 navclass">
    <ul class="list-group">
      <li class="list-group-item">
        <a class="nav-link" routerLink="basic-details">Basic Details</a>
      </li>
      <br />
      <li class="list-group-item">
        <a class="nav-link" routerLink="contact-details">Contact Details</a>
      </li>
      <br />
      <li class="list-group-item">
        <a class="nav-link" routerLink="edu-details">Education Details</a>
      </li>
      <br />
      <li class="list-group-item">
        <a class="nav-link" routerLink="work-details">Work Details</a>
      </li>
    </ul>
  </div>
  <div class="col-lg-8 nav3">
    <router-outlet></router-outlet>
  </div>
</div>
