<section id="title">
  <div class="container-fluid">
    <!-- Title -->
    <div class="row">
      <div class="col-lg-6 justify-content-start">
        <h1 class="big-heading">Interact with Alumni</h1>
        <button
          type="button"
          class="btn btn-lg btn-dark bttn"
          (click)="goLogin()"
        >
          Login
        </button>
        <button
          type="button"
          class="btn btn-lg btn-outline-dark bttn"
          (click)="goRegister()"
        >
          Register
        </button>
      </div>
      <div class="col-lg-6">
        <img
          class="title-img"
          src="https://image.freepik.com/free-vector/group-college-university-students-hanging-out_74855-5251.jpg"
          alt="iphone-mockup"
        />
      </div>
    </div>
  </div>
</section>

<!-- Footer -->

<!-- <footer id="footer">
  <i class="ic fab fa-twitter"></i>
  <i class="ic fab fa-facebook-f"></i>
  <i class="ic fab fa-instagram"></i>
  <i class="ic fas fa-envelope"></i>
  <p class="copy">© Copyright 2018 AppName</p>
</footer> -->
