.card {
  width: 50%;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-title {
  margin-bottom: 1rem;
}

#content {
  /* margin: 3rem; */
  font-family: "Roboto", sans-serif;
  color: #4d80e4;
  text-align: start;
  /* border: 1px solid black; */
  /* background-color: black; */
}
