.row {
  color: #4d80e4;
}
label {
  color: #4d80e4;
}
.bttn {
  margin-top: 1rem;
}
.row1 label,
.card-text {
  color: #4d80e4;
}
.card-title {
  color: #424874;
}
.rs {
  margin-left: 2rem;
}
.srs {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
